    body{
        height: 100vh;
        width: 100%;
        margin: 0;
    }
//--------------- Custom variables-------------------//
    $navbar-background-color:#FAA432;
    $nav-link-hover-bg: #e2e6ea;
    $nav-link-color:  #FAA432;
    $custom-yellow: #FAA432;
//-----------------------------------------------//
    header{
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo {
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .row_nav{
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #FAA432;
    }

    .height_nav{
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav_centre{
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    // modification 
    .nav_premier{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .col1{
        display: flex;
        align-self: center;
        justify-content: center;
        height: auto;
        width: 100%;
    }
    .col2_icones{
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content:end;
    }
    .col_icones{
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .row_nav_deuximes{
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content:center;
    }




// -----------------------------------section1---------------------------//
.sect1{
    background-image: url(../Images/section1/fond.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.titre_sect1{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titre1_sect1{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#butt1:hover{
    background-color: chartreuse;
    border: none;
}


#img1{
    height: 800px;
    width: auto;
    position: absolute;
}
#butt1{
    position: relative;
    border-radius: 40px;
    width: 180px;
    height: 60px;
    z-index: 1;
}
.col_bouton{
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sect1col1 {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}.row_sect1{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

// -----------------------------------------section 2------------------------------
.sect2{
    height: 40vh;
    width: 100%;
    
}















@import "../node_modules/bootstrap/scss/bootstrap";
// Personnalisation de la navbar
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: $navbar-background-color;
    width: 100%;
    height: auto;
    border-radius: 5px;
    
    // Utilisation du mixin de Bootstrap pour les écrans md et plus
    @include media-breakpoint-up(md) {
        flex-direction: row;
    }
}

.nav-item {
    display: block;
    margin-top: 40px;
    @include media-breakpoint-up(md) {
        margin-top: 0;
    }
}

.nav-link {
    color: #000; 
    text-decoration: none;
    
    &:hover {
        background-color: #e2e6ea; 
    }

    &.active {
        color: orange; 
    }
}
